body {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    background-color: #FBEAEB;
    margin: 0;
  }
header {
    background-color: #FFCCE1;
    font-size: 3em;
    color: white;
    padding: 30px 0;
  }
